@tailwind components;
@layer components {
  .btn{
    @apply py-3 inline-block px-6 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-0
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-hover;
  }
  .btn-primary-outline {
    @apply bg-white border-2 border-primary hover:border-primary-hover text-primary hover:text-white hover:bg-primary-hover;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary-hover;
  }
  .btn-secondary-outline {
    @apply bg-white border-2 border-secondary hover:border-secondary-hover text-secondary hover:text-white hover:bg-secondary-hover;
  }
  .btn-danger {
    @apply bg-danger text-white hover:bg-danger-hover;
  }
}